.profile {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .profileForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0 1em;
        border: solid 1.5em rgba(#000, 0.03);
        box-shadow: 2px 2px 5px rgba(#000, 0.2), 2px 2px 17px rgba(#000, 0.35),
            2px 2px 25px rgba(#000, 0.5);

        h1 {
            margin-bottom: 10px;
        }
        .btn {
            width: 200px;
            color: black;
            font-size: 25px;
            background-color: lightseagreen;
            margin: 5px 0;
        }

        .textfield {
            margin-bottom: 5px;
        }
    }
}
